.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  place-items: center;
}
h1,
p {
  color: var(--brown-col);
}

.grid_1_1 p {
  /* padding-left: 40rem;
  padding-right: 40rem; */
  margin: auto;
  line-height: 1.5;
}
.grid_1_1 img {
  width: 70%;
  height: auto;
  max-width: 700px;
}
.cta_wrapper {
  margin: 20px 0 20px 0;
}

@media (min-width: 800px) {
  .grid_1_1 img {
    max-width: 40%;
  }
  .grid_1_1 p {
    max-width: 60%;
  }
  h1 {
    font-size: 5cqw;
  }
}
