---
import Layout from "../layouts/Layout.astro";
import "../styles/generel.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <h1>Forside</h1>
  <h2>Velkommen til Ten Pillars Coffee</h2>
  <p>Vi er en lille non-profit frivillig drevet kaffebar på KEA</p>
  <a class="cta cta-tilmeld" href="">Tilmeld</a>
</Layout>

<style></style>
