---
import Header from "../components/Header.astro";
import "../styles/generel.css";
import MenuCard from "../components/Menu_card.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <h1>Menukort</h1>
  <p>
    Find din kop kaffe og få fornyet energi til resten af skoledagen.<p>
      <MenuCard />
      <Footer />
    </p>

    <style>
      h1,
      p {
        color: var(--brown-col);
        place-self: center;
      }
    </style>
  </p>
</Layout>
