---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/generel.css";
---

<Layout>
  <Header />
  <section class="container">
    <h1>Om Os</h1>
    <div>
      <h2>Frivillighed, fællesskab og kvalitetskaffe – midt på KEA</h2>
      <div class="grid_1-1">
        <p>
          Vi er en non-profit kaffebar midt på KEA – drevet af frivillige
          studerende med en passion for god kaffe og fællesskab. Hos Ten Pillars
          Coffee handler det ikke kun om, hvad der er i koppen, men om hvem der
          står bag disken. Her mødes studerende og besøgende i et varmt og
          imødekommende rum fyldt med smag, nærvær og engagement. Vi tror på, at
          kaffe er mere end bare en drik – det er en mulighed for at forbinde
          mennesker og skabe relationer. Uanset om du har brug for et
          koffein-kick, en pause med vennerne eller bare et sted at føle dig
          hjemme, så er du altid velkommen hos os.
        </p>
        <img src="/omos.webp" alt="Om os" />
      </div>
      <h1>Vores Sponsere</h1>
      <h2>Bæredygtig kaffe i samarbejde med Prolog Kaffe</h2>
      <div class="grid_1-1">
        <p>
          Hos Ten Pillars Coffee samarbejder vi med Prolog Kaffe, som leverer
          bønnerne bag vores bryg – og ikke bare hvilke som helst bønner. Vi får
          det overskudsprodukt, der ikke kan bruges i deres almindelige
          sortiment. Det betyder, at vi serverer en unik blanding af høj
          kvalitet, kendt som “staff coffee” – en smagfuld kaffe, som ellers
          ville være gået til spilde. Takket være Prolog kan vi byde på
          bæredygtig kaffe med karakter og omtanke – og det er vi stolte af.
        </p>
        <img src="/prolog.webp" alt="prolog kaffe" height="500" />
      </div>
    </div>
  </section>
</Layout>
<Footer />

<style>
  h1 {
    color: var(--brown-col);
    text-align: center;
  }

  h2,
  p {
    color: var(--brown-col);
  }

  .container {
    padding: 0 5.8rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  .container img {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  @media (min-width: 1024px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      padding: 0 0 3rem 0;
    }

    .container img {
      margin-top: 1.5rem;
      width: 75%;
      height: auto;
    }
  }
</style>
